<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_recipe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_recipe_round"
        android:supportsRtl="true"
        android:theme="@style/Splash_screen"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.RecipeRequest"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserRecipePageToEdit"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RecipePage"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PopUpPage"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddNewRecipe"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddNewCategory"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>